.App {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app_body {
  background-color: #ededed;
  display: flex;
  width: 55vw;
  height: 95vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .app_body {
    width: 70vw;
  }
}
@media (max-width: 650px) {
  .app_body {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .app_body {
    width: 90vw;
  }
}
